<div id='top-line' class='whole-line'>
  <div class='inline-blocks' id="task-details">Task Details</div>
  <div class='inline-blocks' id="add-task"><i class="fas fa-tasks"></i> Add Task</div>
</div>
<div id='top-bar' class='whole-line'>

  <div class="inline-blocks" id='show-div'>
    <strong>Show </strong>
    <select type='number' [(ngModel)]="selectedDisplay" (ngModelChange)='toNumber()'>
        <option *ngFor="let option of displayOptions" [ngValue]="option">{{option}}</option>
    </select>
    <strong> entries</strong>
  </div>

  <div class="inline-blocks" id='order-div'>
    Order by:<select id='select-attribute'>
          <option value="Contact" selected>Contact Name</option>
          <option value='Due Date'>Due Date</option>
          <option value='Quote Type'>Quote Type</option>
          <option value='Quote#'>Quote Number</option>
        </select> Descending: <input type='checkbox' id='descending'/>

  </div>
  <div class="inline-blocks" id='search-div'>
    Search: <input name='search' id='search-input' class='inputs' type='text'/>
  </div>
</div>

<app-table-row [display]=selectedDisplay 
              [order]=selectedOrder 
              [descending]=isDescending 
              [search]=searchKeyword
              [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              [(pageIndex)]="pageIndex">
              <!-- [pageIndex]="pageEvent.pageIndex"> -->
</app-table-row>

<!-- bound values below are the constants -->
<mat-paginator [length]="length"
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"
            (page)="pageEvent = $event">
</mat-paginator>

<router-outlet></router-outlet>
