
#top-line {
	background-color: grey;
	font-family: 'Courier New', Courier, monospace;
	width: 100%;
	margin: auto;
	border: 0;
	padding: 0;
	height: 30px;
}


#task-details {
	text-align: left;
	color: blue;
	display: inline-block;
	bottom: 0;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 20px;
}


#add-task {
	background-color: aquamarine;
	overflow: hidden;
	white-space: nowrap;
	display: block;
	float: right;
}

#top-bar {
	/* position: relative; */
	/* margin-top: 30px; */
	font-family: 'Courier New', Courier, monospace;
	width: 100%;
	margin-bottom: 0;
	border: 0;
	padding: 0;
	height: 30px;
}

#show-div{
    display:inline-block;
    position: absolute;
    left:10px;
}

#pagination {
    display: inline-block;
}

#order-div{
    display:inline-block;
    position:absolute;
    left:800px;

}

#search-div{
    display:block;
	float:right;
}

#bot-bar{
	font-family: 'Courier New', Courier, monospace;
	height: 30px;
}

#showing{
	display: block;
	float:left;
}

#selectPage{
	display: block;
	float:right;
}