<div id='top-line' class='whole-line'>
  <div class='inline-blocks' id="task-details">Task Details</div>
  <div class='inline-blocks' id="add-task">Add Task</div>
</div>
<div id='top-bar' class='whole-line'>

  <div class="inline-blocks" id='show-div'>
    <strong>Show </strong>
    <select type='number' [(ngModel)]="selectedDisplay" (ngModelChange)='toNumber()'>
        <option *ngFor="let option of displayOptions" [ngValue]="option">{{option}}</option>
    </select>
    <strong> entries</strong>
  </div>

  <div class="inline-blocks" id='order-div'>
    Order by:<select id='select-attribute'>
          <option value="Contact" selected>Contact Name</option>
          <option value='Due Date'>Due Date</option>
          <option value='Quote Type'>Quote Type</option>
          <option value='Quote#'>Quote Number</option>
        </select> Descending: <input type='checkbox' id='descending'/>

  </div>
  <div class="inline-blocks" id='search-div'>
    Search: <input name='search' id='search-input' class='inputs' type='text'/>
  </div>
</div>
<app-table-row [display]=selectedDisplay [order]=selectedOrder [descending]=isDescending [search]=searchKeyword></app-table-row>

<div class='whole-line' id='bottom-bar'>

  <div id='showing'>Showing 1 to 10 of 121 entires</div>
  <div id='selectPage'>Previous Next</div>
</div>
