

/* .no-wrap {
    border: 1px solid black;
    width: 70px;
    overflow: auto;
    white-space: nowrap;
    display: inline-block;
} */

.app-component{
    width: 1500px;
    /* height: 600px; */

    margin: 0;
    padding: 0;
    border: 0;
    /* border: 1px black solid; */
}
